__pycache__/
.ipynb_checkpoints/

train/
valid/
test/

dataset_track/
minor_project/
tracking.py
yolov8n.pt


input_from_dataset.avi
output_deepsort_city.mp4
tracking_metrics_graph.png

assets/airsim_track/output_deepsort.mp4